@page "/lista"
@using MauiHybridStart.mvvm.viewmodel

<h3>Nevek</h3>

<ul>
    @foreach (var nev in NevLista)
    {
        <li>@nev</li>
    }

</ul>

<h2>Viewmodel szöveg:@viewModel.Szoveg</h2>


@code {
    private List<string> NevLista=new () {"Elek","Géza","Ubul","Mária","Anita","Zénó"};
    MintaViewModel viewModel = new MintaViewModel();

}
