@using MauiHybridMeroOra.mvvm.model
@using MauiHybridMeroOra.mvvm.viewmodel
@inject MeroViewModel vm


<div class="card w-50 m-2">
    <div class="card-body">
        <h5 class="card-title">@OraAdat.Datum</h5>
        <p class="card-text">Termelés:@OraAdat.Termeles</p>
        <p class="card-text">Fogyasztás:@OraAdat.Fogyasztas</p>
        <button @onclick="NavigateToModosit" class="btn btn-primary">Módosítás</button>
        <button @onclick="TorolOraallas" class="btn btn-primary">Törlés</button>
    </div>
</div>

@code {
    [Parameter]
    public MeroOra OraAdat { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;

    private void NavigateToModosit()
    {
        vm.Modositas = true;
        vm.AktualisOraallas = OraAdat;
        NavigationManager.NavigateTo("/oraallasok/oraallasinput");
    }

    private void TorolOraallas()
    {
        vm.TorolOraallas(OraAdat);
    }

}
